<h2>
  Профиль команды <%= @current_user.name %>
</h2>
<br>

<table>
  <tr><td width="150"><b>E-mail:</b></td>
      <td><%= current_user.email %></td></tr>
  <tr><td><b>Контактный телефон:</b></td>
      <td><%= current_user.phone_number %></td></tr>
</table>
<br>

<em><%= link_to "Редактировать профиль...", resource(current_user, :edit) %></em>