<fieldset>
  <legend>
    Заявки на регистрацию:
  </legend>

  <p>
<% game_entries.each do |entry| %>
<%
  @user = User.find(entry.user_id)
  @game = Game.find(entry.game_id)
%>
  <p>
    <strong><%= @user.name %> <%= @game.name %></strong>
    <em><%= link_to "(принять)", "/game_entries/accept/#{entry.id}" %></em>
    <em><%= link_to "(отказать)", "/game_entries/reject/#{entry.id}" %></em>
  </p>
<% end %>
</p>
</fieldset>
