<fieldset>
  <legend>
    Участвуют команды:
  </legend>

  <%if @current_user.is_master%>
    <%= link_to 'Добавить команду', resource(@game, :game_entries, :new) %>
    <br/>
  <% end %>

  <p>
    <% @current_game_entries.each do |user_name, entry| %>
      <p>
        <strong><%= user_name %></strong> <%= link_to '(отозвать)', resource(@game, entry, :delete)  if @current_user.is_master%>
      </p>
    <% end %>
  </p>
</fieldset>
